body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-box {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.form-header h3 {
  color: #000;
  text-align: center;
}

.form-body {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

span {
  color: red;
}

.terms {
  display: flex;
  align-items: center;
}

.submit-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

.form-footer {
  text-align: center;
  color: darkslateblue;
}
